<!DOCTYPE html>
<html>

<head>
    <title>Monthly Totals Chart</title>
    <!-- Thêm thư viện Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/css/styles.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>

<body>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <div th:replace="stafflayout :: sidebar"></div>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <div th:replace="stafflayout :: header"></div>

            <!--  Header End -->
            <div class="container-fluid">

                <!-- <div class="d-flex flex-wrap">
                    <div class="card m-2 p-2">
                        <div class="card-body">
                            Doanh thu hôm nay
                            <h3 th:text="${total}"></h3>
                        </div>
                    </div>
                    <div class="card m-2 p-2">
                        <div class="card-body">
                            Số đơn hàng
                            <h3 th:text="${count}"></h3>
                        </div>
                    </div>

                </div> -->
                <div class="row">
                    <div class="col-lg-8 d-flex align-items-strech">
                        <div class="card w-100">
                            <div class="card-body">
                                <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                                    <div class="mb-3 mb-sm-0">
                                        <h5 class="card-title fw-semibold">Món ăn đã bán</h5>
                                    </div>
                                    <div>
                                        <select class="form-select" id="chartType">
                                            <option value="bar">Biểu đồ cột</option>
                                            <option value="line">Biểu đồ đường</option>
                                            <option value="pie">Biểu đồ Tròn</option>
                                        </select>
                                    </div>
                                </div>
                                <canvas id="monthlyTotalsChart" style="min-height: 360px;"></canvas>
                            </div>

                        </div>
                    </div>
                    <div class="col-4 text-center">
                        <ul class="list-group" id="monthlyTotals">

                        </ul>
                    </div>

                </div>

            </div>
        </div>
        <script src="/libs/jquery/dist/jquery.min.js"></script>
        <script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <script>
            var myChart; // Đặt biến myChart ở đây

            // Function để vẽ biểu đồ
            function drawChart(data, chartType) {
                var ctx = document.getElementById('monthlyTotalsChart').getContext('2d');
                if (myChart) {
                    myChart.destroy();
                }
                myChart = new Chart(ctx, {
                    type: chartType,
                    data: data,
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true,
                                title: {
                                    display: true,
                                    text: 'Số lượng'
                                }
                            },
                            x: {
                                title: {
                                    display: true,
                                    text: 'Tên món'
                                }
                            }
                        },
                        responsive: true
                    }
                });
            }

            // Sử dụng Ajax để lấy dữ liệu từ controller
            $.ajax({
                url: '/staff/productreport', // Điều này phải trùng với URL đã định nghĩa trong controller
                type: 'GET',
                success: function(dataChart) {
                    var chartType = 'pie';

                    $('#chartType').on('change', function() {
                        chartType = $(this).val();
                        // Xóa biểu đồ cũ và vẽ lại biểu đồ với loại mới
                        drawChart(data, chartType);
                    });
                    var data = {
                        labels: [], // Danh sách các tháng
                        datasets: [{
                            label: 'Báo Cáo món',
                            data: [], // Tổng tiền cho từng tháng
                            backgroundColor: [],
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        }]
                    };

                    // Đổ dữ liệu từ server vào biểu đồ
                    dataChart.forEach(function(item) {
                        data.labels.push(item[0]); // Thêm tháng vào labels
                        data.datasets[0].data.push(item[1]); // Thêm tổng tiền vào dữ liệu
                        data.datasets[0].backgroundColor.push(getRandomColor());

                        var p = document.createElement("p");

                        //tạo phần tử text
                        var node = document.createTextNode(item[0] + " " + 'tổng: ' + item[1]);
                        p.appendChild(node);
                        p.classList.add('list-group-item');

                        var ul = document.getElementById("monthlyTotals");
                        //gắn p vào div
                        ul.appendChild(p);
                    });

                    // Gọi hàm vẽ biểu đồ
                    drawChart(data, chartType);
                },
                error: function(error) {
                    console.error('Error:', error);
                }
            });

            function getRandomColor() {
                var letters = '0123456789ABCDEF';
                var color = '#';
                for (var i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }
        </script>

</body>

</html>